/*
The nav CSS is a seperate
*/
ul.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.nav-links {
  display: inline-block;
  float: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(187, 173, 173);
}

.active {
  background-color: #04aa6d;
}
