/* 
General CSS
Not super interested in styling, just enough to make it 
look ok for the project. 
A lot is inspired from w3schools.com
*/

/*
General styling first
*/
* {
  text-align: center;
}

body {
  background-color: lightgrey;
  padding: 3%;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Courier New", Courier;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/* 
Left Nav Bar (also used in other components so not in nav)
*/
.box {
  display: flex;
}

.viewbox {
  display: flex;
  background-color: rgb(207, 203, 203);
  text-align: center;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}

.resize {
  width: 250px;
  height: auto;
}

/* general text styling */

/* 
Links
*/
/* unvisited link */
a:link {
  color: rgb(6, 168, 28);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(255, 61, 77);
}

/* selected link */
a:active {
  color: blue;
}

ul {
  text-align: center;
  list-style-type: none;
}
li {
  text-align: center;
}
select {
  width: 60%;
  padding: 10px, 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/*
Button 
*/

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
